#res{
background-color: lightgray;
border:solid;
height:48px;
font-size:20px;
}
#btns{

}
#btn0,#btn1{
    width:25%;
    height:36px;
    font-size: 18px;
    margin:0;
    float:left;
background-color: lightgreen;
color:brown;
}
#btnClr,#btnEql{
    width:25%;
    height:36px;
    font-size: 18px;
    margin:0;
    float:left;
    background-color: green;
    color:white;
}
#btnSum,#btnSub,#btnMul,#btnDiv{
    width:25%;
    height:36px;
    font-size: 18px;
    margin:0;
    float:left;
    background-color: black;
    color:red;
}